.container {
  height: 100vh;
  background-color: #fdf8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/public/home/background.webp") no-repeat;
  padding: 0 32px;
}

.mainImage {
  height: 70vh;
  margin-top: auto;
}

.mainTextContainer h5 {
  color: #023e8a;
  font-weight: 400;
  font-size: 24px;
  margin: 0px;
}

.mainTextContainer h1 {
  font-size: 48px;
  margin: 10px 0px;
  color: #4e4d4d;
}

.mainTextContainer h4 {
  font-size: 30px;
  margin: 10px 0px;
  color: #4e4d4d;
  font-weight: 400;
}

.colorText {
  color: #023e8a;
}

.mainTextContainer {
  margin-left: 50px;
}

.getButton {
  margin-top: 20px;
  text-decoration: none;
  background-color: rgb(2, 60, 136);
  padding: 15px 40px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: rgba(2, 60, 136, 0.09) 0px 2px 1px,
    rgba(2, 60, 136, 0.09) 0px 4px 2px, rgba(2, 60, 136, 0.09) 0px 8px 4px,
    rgba(2, 60, 136, 0.09) 0px 16px 8px, rgba(2, 60, 136, 0.09) 0px 32px 16px;
  transition: 0.3s ease-in;
}

.getButton:hover {
  border-color: #023e8a;
  background-color: transparent;
  color: #023e8a;
}

@media (max-width: 1024px) {
  .mainTextContainer h1 {
    font-size: 40px;
  }

  .mainTextContainer h4 {
    font-size: 24px;
  }

  .mainTextContainer h5 {
    font-size: 20px;
  }

  .mainImage {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .mainTextContainer {
    margin-left: 0px;
    text-align: center;
  }

  .mainImage {
    display: none;
  }
}
