.headerMainContainer {
  height: 70px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
}

.container {
  width: 100%;
}

.logo {
  height: 40px;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoContainer h4 {
  font-size: 24px;
  margin-left: 10px;
  color: #4e4d4d;
  font-weight: 400;
}